<section class="heading-container">
	<h1>Stardew Valley Crop Planner</h1>
</section>

<div class="calendar-container">
	<div class="calendar-grid-container">
		<% @calendar_days.each do |day| %>
			<div class="calendar-day">
				<p class="specific-day"><%= day %></p>
				<% @planted_crops.each do |crop| %>
					<% if crop[:planted_on].to_i == day %>
						<img class="produce-img" src="/img/<%= convert_crop_name_with_space(return_crop_name(crop[:crop_id])) %>.png">
						<p class="produce-name"><%= return_crop_name_reduce_name(crop[:crop_id]) %> <span class="produce-amount">x<%= crop[:amount_planted] %></span></p>
						<p class="produce-seed-cost">-$<%= return_seed_cost(crop[:crop_id], crop[:amount_planted]) %></p>
					<% end %>
					<br>
				<% end %>
				<% @planted_crops.each do |crop| %>
					<% if crop[:first_harvest].to_i == day || crop[:sub_harvests].include?(day) %>
						<img class="produce-img" src="/img/<%= convert_crop_name_with_space(return_crop_name(crop[:crop_id])) %>.png">
						<p class="produce-name"><%= return_crop_name_reduce_name(crop[:crop_id]) %> <span class="produce-amount">x<%= crop[:amount_planted] %></span></p>
						<p class="produce-money">$<%= return_crop_profit(crop[:crop_id], crop[:amount_planted]) %></p>
						<br>
						<br>
					<% end %> 
				<% end %>
			</div>
		<% end %>
	</div>
</div>
<div id="fixed-buttons">
	<ul>
		<div class="fixed-button-season">
			<ul class="season-ul" style="display: flex; flex-direction: row;">
				<li class="season-link">
					<a href="/calendar/<%= display_before_season %>"><<</a>
				</li>
				<li class="season-link"><%= @season %></li>
				<li class="season-link">
					<a href="/calendar/<%= display_after_season %>">>></a>
				</li>	
			</ul>
		</div>

		<li>
			<a id="button-one" class="fixed-button-js">+</a>
		</li>
		<li>
			<a id="button-two" class="fixed-button-js">-</a>
		</li>
		<li>
			<a id="button-three" class="fixed-button-js" href="/"><</a>
		</li>
		<li class="fixed-buttons-profit">Profit: <span class="profit-number">$<%= @profit %></span></li>
	</ul>
</div>
<div id="addDiv">
	<form action="/add_crop_calendar" method="post">
		<ul class="form-list">
			<li class="input-label-item">Crop Name</li>
			<li>
				<select class="input-calendar" name="crop_name" required>
					<% @crops.each do |crop| %>
						<option><%= crop[:name] %></option>
					<% end %>
				</select>
			</li>
			<li class="input-label-item">Date Planted</li>
			<li>
				<select class="input-calendar" name="plant_date" required>
					<% available_planting_days.each do |num| %>
						<option><%= num %></option>
					<% end %>
				</select>
			</li>
			<li class="input-label-item">Amount Planted</li>
			<li>
				<input class="input-calendar" type="number" max="1000" min="1" name="amount_planted" required >
			</li>
		</ul>
		<input type="submit" value="Add Crop">
	</form>
</div>
<div id="deleteDiv">
	<form action="/<%= @season %>/delete_single_crop" method="post">
		<ul class="form-list">
			<li class="input-label-item">Crop Name</li>
			<li>
				<select class="input-calendar" name="id">
					<% @planted_crops.each do |crop| %>
						<option value="<%= crop[:id] %>"><%= return_crop_name(crop[:crop_id]) %>, First Harvest: <%= crop[:first_harvest] %></option>
					<% end %>
				</select>
			</li>
			<li class="input-label-item">
				<input class="input-calendar" type="submit" value="Delete Single Crop">
			</li>
		</ul>
	</form>
</div>
<div id="addDivInfo">
	<p class="div-information-hover">Add crops to the calendar.</p>
</div>
<div id="deleteDivInfo">
	<p class="div-information-hover">Remove crops from the calendar.</p>
</div>
<div id="homeInfo">
	<p class="div-information-hover">Return to home page.</p>
</div>